<nav>
    <ul id="nav-list">
        <li class="nav-list-item"><a href="/" class="nav-a">Home</a></li>
        <li class="nav-list-item"><a href="/updates" class="nav-a">Updates</a></li>
        <li class="nav-list-item"><a href="#" class="nav-a">Support the Work
        </a></li>
    </ul>
</nav>