---
layout: layouts/default.njk
---
<article class="post">
    <p class="section-heading post-date"><time datetime="{{ page.date | isoDate }}">{{ page.date | readableDate }}</time></p>
    {{ content | safe }}
</article>
